@media screen and (max-width: 767px) {
    .sala-botao {
        position:absolute;
        left: 15px;
        top: 96px;
        width: 75px;
        height: 34px;
        color: #fff;
        cursor: pointer;
        background: #249068;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        text-align: center;
        line-height: 34px;
    }
    .sala-menu {
        position: absolute;
        left: 15px;
        top: 120px;
        width: 75px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        background-color: #249068;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: 9;
    }
    #salaMenu li {
        background-color: #1cbb81;
        color: #fff;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
    } 
    #salaMenu li:hover {
        background-color: #eee;
        border-radius: 8px;
        color: #1cbb81;
    }
    #sala-butao:focus + #salaMenu {
        display: block;
    }
    #sala-butao.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #sala-butao.no-border-bottom {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
    }
    .sala-menu.oculta {
        top: -150px;
    }
    #sla {
        position: absolute;
        top: 200px;
        left: 80px; 
        color:#fff;
    }

    #mensagem1a{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: -6px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }

    #mensagem1b{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 104px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }

    #mensagem1c{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 214px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }

    #mensagem1d{
        position: absolute;
        width: 110px;
        height: 102px;
        left: 98px;
        top: 324px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }

    #mensagem1e{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 434px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }
    #mensagem1f{
        left: -65px;
        top: -105px;
    }

    #mensagem2a{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: -6px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }
    #mensagem2b{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 104px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }
    #mensagem2c{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 214px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }
    #mensagem2d{
        position: absolute;
        width: 110px;
        height: 102px;
        left: 98px;
        top: 324px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    #mensagem2e{
        position: absolute;
        width: 101px;
        height: 102px;
        left: 100px;
        top: 434px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* or 142% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;

    }
    #mensagem2f{
        left: -65px;
        top: -105px;
    }
}
@media screen and (min-width: 768px) {
    .sala-botao {
        position: absolute;
        left: 905px;
        top: 46px;
        width: 75px;
        height: 34px;
        border: none;
        color: #fff;
        cursor: pointer;
        background: #249068;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
        line-height: 34px;
    }
    .sala-menu {
        position: absolute;
        left: 905px;
        top: 80px;
        width: 75px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        background-color: #249068;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: 9;
    }
    #salaMenu li {
        background-color: #1cbb81;
        color: #fff;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
    } 
    #salaMenu li:hover {
        background-color: #eee;
        border-radius: 8px;
        color: #1cbb81;
    }
    #sala-but:focus + #salaMenu {
        display: block;
    }
    #sala-but.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #sala-but.no-border-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .sala-menu.oculta {
        top: -150px;
    }
    
    sla {
        position: absolute;
        top: 110px; /* ajuste a posição vertical conforme necessário */
        left: 80px; /* ajuste a posição horizontal conforme necessário */
        color:#fff;
    }
    #mensagem1a{
        position: absolute;
        width: 168px;
        height: 149px;
        left: 506px;
        top: 190px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    #mensagem1b{
        position: absolute;
        width: 168px;
        height: 149px;
        left: 506px;
        top: 355px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    #mensagem1c{
        position: absolute;
        width: 168px;
        height: 125px;
        left: 501px;
        top: 517px; 
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }
    #mensagem1d{
        position: absolute;
        width: 195px;
        height: 124px;
        left: 487px;
        top: 680px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }
    #mensagem1e{
        position: absolute;
        width: 195px;
        height: 124px;
        left: 487px;
        top: 840px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }          
    #mensagem1f{
        left: 887px;
        top: -100px;
    } 
    
    
    #mensagem2a{
        position: absolute;
        width: 168px;
        height: 149px;
        left: 506px;
        top: 190px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }       
    #mensagem2b{
        position: absolute;
        width: 168px;
        height: 149px;
        left: 506px;
        top: 355px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    #mensagem2c{
        position: absolute;
        width: 168px;
        height: 125px;
        left: 501px;
        top: 517px; 
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }
    #mensagem2d{
        position: absolute;
        width: 195px;
        height: 124px;
        left: 487px;
        top: 680px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }
    #mensagem2e{
        position: absolute;
        width: 195px;
        height: 124px;
        left: 487px;
        top: 840px;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */
        text-align: center;
        color: #FFFFFF;
    }         
    #mensagem2f{
        left: 887px;
        top: -100px;
    }  
}